<!DOCTYPE html>
<html>

<head>

<title>Study AI Assistant</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">
<h2>📚 Study AI Assistant</h2>
</div>

<div class="container">

<div class="menu">

<a href="/summary">
<div class="feature">
<h3>📄 PDF Summarizer</h3>
</div>
</a>

<a href="/quiz">
<div class="feature">
<h3>❓ Quiz Generator</h3>
</div>
</a>

<a href="/planner">
<div class="feature">
<h3>📅 Study Planner</h3>
</div>
</a>

<a href="/mocktest">
<div class="feature">
<h3>📝 Mock Test</h3>
</div>
</a>

</div>

</div>

</body>
</html>